body {
  padding: 0;
  margin: 0;
background: url(backdrop3.jpg);
  color:cyan;
  font-size:25px;
}

a {
  color:orangered;
}

a:visited {
  color:greenyellow;
}

a:hover {
  color:orange;
}


.dropcap {
  float:left;
  font-size:400%;
  color:#cf142b;
  margin : -13px 7px -13px 0;
}

img {
  display: block;
  margin: 0;
  border-radius: 50px;
}

.card{
  width:300px;
 box-shadow: 4 16px 16px 4 green;
  text-align: center;
 
}
.card img{
  width: 100%;
}
.card info {
  padding 10px;
  font-weight: 500;
}
  @keyframes vibrate {
    0%{transform: rotate(0deg);}
    10%{transform: rotate(-1deg);}
    20%{transform: rotate(1deg);}
    30%{transform: rotate(0deg);}
    40%{transform: rotate(1deg);}
    50%{transform: rotate(-1deg);}
    60%{transform: rotate(0deg);}
    70%{transform: rotate(-1deg);}
    80%{transform: rotate(1deg);}
    90%{transform: rotate(0deg);}
    100%{transform: rotate(-1deg);}
  }
  img:hover {
    animation: vibrate 0.5s;
    animation-iteration-count: infinite;
  }
 .text {height: 20vh;}

h1 {
  font-size: 40px;
  text-align: center;
  margin: 0;
  padding:20px 0;
  color:orange;
  text-shadow: 3px 3px 1px green;
}